<div class="headbar">
<h2>Welcome Back, <%= current_user.name.partition(" ").first %></h2>
<p>I've missed you.</p>
</div>

<h3>Latest Workouts</h3>
<% @workouts.each do |workout| %>
  <h3><a href="<%= workout_path(workout) %>"></h3>
    <p><%= workout.name %> <%= workout.workout_date %></p>
  </a>
    <p><%= simple_format h workout.wod %></p>
  <% end  %>
<% if can? :create, @workout %>
  <%= link_to "Add Workout", new_workout_path %>
<% end %>
