<div class="headbar">
<h2>Welcome Back, <%= current_user.name.partition(" ").first %></h2>
<p>I've missed you.</p>
</div>

<div id="nav_links">
  <% if can? :create, @workout %>
  <%= link_to "Add Workout", new_workout_path %>
  <% end %>
</div>

<h3>Latest Workouts</h3>
<div class="workout_journal">
  <% @workouts.each do |workout| %>
    <div class="journal_entries"><h4>
      <a href="<%= workout_path(workout) %>">
        <%= workout.name %> -- <%= workout.workout_date %>
      </a>
    </h4>
      <p><%= simple_format h workout.wod %></p>
    </div>
  <% end  %>
</div>
