<div class="headbar">
<h2>Welcome Back</h2>
<p>I've missed you.</p>
</div>

<% @workouts.each do |workout| %>
  <a href="<%= workout_path(workout) %>">
    <p><%= workout.name %> <%= workout.workout_date %></p>
  </a>
    <p><%= simple_format h workout.wod %></p>
  <% end  %>

<%= link_to "Add Workout", new_workout_path %>
