<h2>Create New Workout</h2>

<%= form_for @workout do |f| %>

<p><%= f.label :workout_date %>
<%= f.date_field :workout_date, value: f.object.workout_date %></p>

<p><%= f.label :workout_name %>
<%= f.text_field :name %></p>

<p><%= f.label :workout %>
<%= f.text_area :wod %></p>

<%= f.submit "Create WOD!" %>

<% end %>

<%= link_to "Back", workouts_path %>
