<h2>Workout of the Day</h2>
<h3><%= @workout.name %> <%= @workout.workout_date %></h3>

<p><%= simple_format h @workout.wod %></p>



<%= link_to "Back", workouts_path %> |
<%= link_to "Add Score", new_workout_score_path(@workout) %> |
<%= link_to "Edit Workout", edit_workout_path(@workout) %> |
<%= link_to "Delete Workout", workout_path(@workout), method: :delete, class: "delete" %>
