<div class="headbar">
<h2>Workout of the Day</h2>
<p>Are. You. Ready.</p>
</div>

<div id="nav_links">
<%= link_to "Back", workouts_path %>
| <%= link_to "Add Score", new_workout_score_path(@workout) %>
<% if can? :update, @workout %>
  | <%= link_to "Edit Workout", edit_workout_path(@workout) %>
  | <%= link_to "Delete Workout", workout_path(@workout), method: :delete, class: "delete" %>
<% end %>
</div>

<div id="workout-body">
  <h3><%= @workout.name %> -- <%= @workout.workout_date %></h3>

  <p><%= simple_format h @workout.wod %></p>

  <table>
      <tr>
        <th>Name</th>
        <th>Class Time</th>
        <th>Score</th>
        <th>Notes</th>
      </tr>
    <% @workout.scores.each do |score| %>
      <tr>
        <td class="wut">
          <a href="<%= athlete_path(score.user.athlete.id)%>">
            <% if score.user.athlete.img_url == nil %>
            <img class="small_athlete_img" src="http://vignette3.wikia.nocookie.net/glee-new-beginnings/images/f/fd/Unknown.gif/revision/latest?cb=20130205144914" alt="athlete icon">
            <% else %>
            <img class="small_athlete_img" src="<%= score.user.athlete.img_url %>" alt="athlete icon">
            <% end %>
          </a>
          <%= score.user.name %>
        </td>
        <td><%= score.workout_time %></td>
        <td>
          <% if can? :update, score %>
            <a href="<%= edit_workout_score_path(@workout,score.id) %>">
            <%= score.workout_score %>
            </a>
          <% else %>
            <%= score.workout_score %>
          <% end %>
        </td>
        <td><%= score.notes %></td>
      </tr>
    <% end %>
  </table>
</div>
