<h2>Edit your score</h2>

<%= form_for [@workout,@score] do |f| %>

<p><%= f.label :class_time %>
<%= f.text_field :workout_time %></p>

<p><%= f.label :reps_complete %>
<%= f.text_field :reps_complete %></p>

<p><%= f.label :rounds_complete %>
<%= f.text_field :rounds_complete %></p>

<p><%= f.label :time_complete %>
<%= f.text_field :time_complete %></p>

<%= f.submit "Submit Your Score!" %>
<% end %>

<%= link_to "Back", workout_path(@workout) %>
