<div class="headbar">
  <h2>What's good, <%= current_user.name.partition(" ").first %></h2>
  <p>#Yolo</p>
</div>

<div id="nav_links">
<%= link_to "Back", athletes_path %>
<% if can? :update, @athlete %>
  | <%= link_to "Delete Athlete", athlete_path(@athlete), method: :delete, class: "delete" %>
<% end %>
</div>

<h3>Edit Athlete</h3>

<div id="form">
  <%= form_for @athlete do |f| %>
  <div class="form_pt1">
  <p><%= f.label :name %></p>
  <%= f.fields_for :user, @athlete.user do |c| %>
  <p><%= c.text_field :name %></p>
  <% if current_user.admin == true %>
  <p><%= f.label :coach? %>
    <%= c.label :admin, "Yup", value: true %>
    <%= c.radio_button :admin, true, :checked => true %>
    <%= c.label :admin, "Nope", value: false %>
    <%= c.radio_button :admin, false %></p>
    <%= c.hidden_field :email %>
    <%= c.hidden_field :id %>
    <% else %>
    <%= c.hidden_field :admin %>
    <%= c.hidden_field :email %>
    <%= c.hidden_field :id %>
    <% end %></p>
  <% end %></p>

  <p><%= f.label :gender %></p>
  <p><%= f.text_field :gender %></p>

  <p><%= f.label :age %></p>
  <p><%= f.text_field :age %></p>

  <p><%= f.label :height %></p>
  <p><%= f.text_field :height %></p>

  <p><%= f.label :weight %></p>
  <p><%= f.text_field :weight %></p>
  </div>

  <div class="form_pt2">
    <p><%= f.label :clean_and_jerk %></p>
    <p><%= f.text_field :clean_jerk %></p>

    <p><%= f.label :snatch %></p>
    <p><%= f.text_field :snatch %></p>

    <p><%= f.label :deadlift %></p>
    <p><%= f.text_field :deadlift %></p>

    <p><%= f.label :back_squat %></p>
    <p><%= f.text_field :back_squat %></p>

    <p><%= f.label :bench_press %></p>
    <p><%= f.text_field :bench %></p>
  </div>


  <%= f.submit "Edit Athlete!" %>

  <% end %>
</div>
