<div class="headbar">
  <h2>Whats good, <%= current_user.name.partition(" ").first %></h2>
  <p>#Yolo</p>
</div>

<div id="nav_links">
<%= link_to "Back", workouts_path %>
<!-- NHO: could put some logic here to hide this link...  -->
<!-- <% if !current_user.athlete  -->
| <%= link_to "Create Your Athlete Profile!", new_athlete_path %>
</div>

<h3>Athletes</h3>
<div id="athletes">
<% @athletes.each do |athlete| %>
  <% if athlete.img_url == nil %>
  <div class="athlete_circle" style="background-image:url('http://vignette3.wikia.nocookie.net/glee-new-beginnings/images/f/fd/Unknown.gif/revision/latest?cb=20130205144914')">
  <% else %>
    <div class="athlete_circle" style="background-image:url('<%=athlete.img_url%>')">
  <% end %>
      <a href="<%= athlete_path(athlete) %>"><%= athlete.user.name %></a>
  </div>

  <% end %>
</div>
