<div class="headbar">
<h2>Whats good, <%= current_user.name.partition(" ").first %></h2>
<p>#Yolo</p>
</div>
<h3>Athlete: <%= @athlete.user.name %></h3>
<div class="athlete_prof">
  <img class="athlete_img" src="<%= @athlete.img_url %>">
  <div class="athlete_attr">
    <p>Gender: <%= @athlete.gender %></p>
    <p>Age: <%= @athlete.age %></p>
    <p>Height: <%= @athlete.height %></p>
    <p>Weight: <%= @athlete.weight %></p>
  </div>
  <!-- <div class="athlete_maxes">
    <ul>
      <li></li>
      <li></li>
    </ul>
  </div> -->
</div>



<%= link_to "Back", athletes_path %>
<% if can? :update, @athlete %>
  | <%= link_to "Edit Athlete", edit_athlete_path(@athlete) %>
<% end %>
