<div class="headbar">
<h2>Whats good, <%= current_user.name.partition(" ").first %></h2>
<p>#Yolo</p>
</div>

<div id="nav_links">
  <%= link_to "Back", athletes_path %>
  <% if can? :update, @athlete %>
    | <%= link_to "Edit Athlete", edit_athlete_path(@athlete) %>
  <% end %>
</div>

<h3>Athlete: <%= @athlete.user.name %></h3>
<div class="athlete_prof">
  <% if @athlete.img_url == nil %>
  <img class="athlete_img" src="http://vignette3.wikia.nocookie.net/glee-new-beginnings/images/f/fd/Unknown.gif/revision/latest?cb=20130205144914">
  <% else %>
  <img class="athlete_img" src="<%= @athlete.img_url %>">
  <% end %>
  <div class="athlete_bio">
    <h4>Bio</h4>
    <p><span>Gender:</span> <%= @athlete.gender %></p>
    <p><span>Age:</span> <%= @athlete.age %></p>
    <p><span>Height:</span> <%= @athlete.height %></p>
    <p><span>Weight:</span> <%= @athlete.weight %></p>
  </div>
  <div class="athlete_maxes">
    <h4>Maxes</h4>
    <div class="maxes">
      <p><span>Clean and Jerk:</span> <%= @athlete.clean_jerk %></p>
      <p><span>Snatch:</span> <%= @athlete.snatch %></p>
      <p><span>Deadlift:</span> <%= @athlete.deadlift %></p>
      <p><span>Back Squat:</span> <%= @athlete.back_squat %></p>
      <p><span>Bench Press:</span> <%= @athlete.bench %></p>
    </div>
  </div>
</div>
