<!DOCTYPE html>
<html>
  <head>
    <title>GAProject2</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light|Varela+Round" rel="stylesheet">
    <script src="//twemoji.maxcdn.com/2/twemoji.min.js?2.2"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper">
    <nav>
      <a href="<%= workouts_path %>">WOD<span>leader</span></a>
      <span class="login">
        <span class="status">
          <% if !current_user %>
            <%= link_to "Sign up", new_user_registration_path %>
            <%= link_to "Sign in", new_user_session_path %>
          <% else %>
            <%= current_user.email %>
            <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
          <% end %>
          </span>
          <span class="notify">
            <span class="notice"><%= notice %></span>
            <span class="alert"><%= alert %></span>
          </span>
      </span>
    </nav>

      <%= yield %>

    <div class="push"></div>
    </div>

    <footer>
      <div>2016 Michael Lai | Powered by <img class="emoji" draggable="false" alt="☕" src="http://twemoji.maxcdn.com/16x16/2615.png"></div>
    </footer>

  </body>

</html>
